.App {
  font-family: Rochestar Demo;
  src: url("D:\Users\kkgbyn\Documents\Computer Science\passion projects\extraordinary\extraordinary\src\Rochestar Demo.otf") format("opentype");
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9C2706;
  color: #F3BC2E;
  font-size: calc(50px + 2vmin);
}

.App-nav {
  font-size: calc(15px + 2vmin);
  color: black;
}