body {
  margin: 0;
  font-family: Rochestar Demo;
  src: url("D:\Users\kkgbyn\Documents\Computer Science\passion projects\extraordinary\extraordinary\src\Rochestar Demo.otf") format("opentype");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
